<div class="panel" style="margin-top:-20px;">
    <div class="panel-body">
        <hr />
        <div class="row">
            <div class="col-md-6">
                <footer>
                    <p>&copy; @DateTime.Now.Year - Pro Aviation Test</p>
                </footer>
            </div>
            <div class="col-md-6">
                <footer>
                    <p class="text-right">Desarrollado por <a href="http://prodeta.com/" target="_blank">Prodeta</a></p>
                </footer>
            </div>
        </div>
    </div>
</div>