@{
    ViewBag.Title = "Confirmación para Restablecer la Contraseña";
}

<div class="panel-heading bg-white">
    <h2>@ViewBag.Title</h2>
</div>
<br />
<div>
    <p>
        Por favor, consultar su correo electrónico para restablecer la contraseña.
    </p>
</div>
	
