@{
    ViewBag.Title = "Confirmación para Restablecer la Contraseña";
}

<div class="panel-heading bg-white">
    <h2>@ViewBag.Title</h2>
</div>
<br />
<div>
    <p>
        Tu contraseña ha sido restablecida. Por favor, @Html.ActionLink("haga clic aquí para iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
