@model ViewModels.Evaluation
<h2>Resultados</h2>
<h3>No disponibles</h3>
@*@using (Html.BeginForm())
{
    <hr />
    @Html.EditorFor(x => x.Questions)
    <hr />
    @*<input type="submit" value="Guardar Exámen" />*@
}*@