<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Pro Aviation Test</title>
</head>
<body>
    <h2>
        <strong>Hola {PersonName}</strong>,</h2>
    <p>
        Has solicitado cambiar tu contraseña.</p>
    <p>
        <a href="{url}">Clic aquí para cambiar tu contraseña</a></p>
        <!--Please reset your password by clicking <a href="{url}">here</a>-->
    <p>
        Este mensaje fue enviado para <strong>{PersonName}</strong>.<br />
        En caso de haber recibido este mensaje por error por favor desestime el mismo.
    </p>
</body>
</html>