
@{
    ViewBag.Title = "Esperando confirmación";
}

<h2>Gracias por tu interes</h2>
<div>
    <p>
        Gracias por registrarte. A la brevedad posible el Administrador te enviara un correo electrónico 
        para que confirmes tus datos y puedas iniciar.
    </p>
    @*<p>Estas esperando ser autorizado para la Carrera de</p>*@
    @*<p>Debes registrar una carrera para continuar.</p>*@
</div>

@*<nav>
    <ul class="pager">
        <li>@Html.ActionLink("Registrar Carrera", "RegisterCareer", "StudentCareers")</li>
    </ul>
</nav>*@
