@{
    ViewBag.Title = "Nosotros";
}
<div class="panel">
    <div class="panel-body">
        <div class="col-md-12 col-sm-12">
            <h3 class="animated fadeInLeft">Pro Aviation Test - @ViewBag.Title</h3>
            <p class="animated fadeInDown"><span class="fa  fa-database"></span> Base de Estudios Examen del IDAC</p>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="">
                    <img class="img-responsive" src="~/images/nosotros.png" alt="">
                    <div class="caption">
                        <h3>
                            Cristhian Alba<br>
                            <small>Abogado-Piloto</small>
                        </h3>
                        <p>@*Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.*@</p>
                        <ul class="list-inline">
                            <li>
                                <a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h2>Hola, Colegas Pilotos y Estudiantes de Aviación</h2>
                <p>Les felicito por haber elegido una de las carreras más nobles de la humanidad.</p>
                <p>
                    La motivación de esta carrera me ha llevado   a un nivel de tener la obligación de aportar un
                    grano de arena para las próximas generaciones de pilotos y más un para incentivar la aviación
                    Dominicana. Para que puedan expandirse en todo el mundo, así bien sea que exista un piloto
                    Dominicano en cada aeropuerto que exista.
                </p>

                <p>Nuestro programa  Pro-Aviation Test Se dirige al eterno estudio del tema que promovemos
                   en busca que se preparen para el examen final ante las Autoridades de la Aviación Dominica.</p>

                <p>En principio presentamos la base de datos para los exámenes como:</p>
                <ul><li>PILOTO PRIVADO</li>
                <li>INSTRUMENTOS DE VUELOS</li>
                <li>PILOTO COMERCIAL</li>
                <li>INSTRUCTOR  IVA</li>
                <li>INSTRUCTOR DE GROUND.</li></ul>
                <p>Más adelante seguiremos habilitando otras bases de datos para complementar esta
                emocionante carrera.</p>
                Gracias por seguirnos.  <br /> 
                <strong>NOS VEMOS EN EL AIRE!!!</strong></p>
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>