@{
    ViewBag.Title = "Contacto";
}
<div class="panel">
    <div class="panel-body">
        <div class="col-md-12 col-sm-12">
            <h3 class="animated fadeInLeft">Pro Aviation Test - @ViewBag.Title</h3>
            <p class="animated fadeInDown"><span class="fa  fa-database"></span> Base de Estudios Examen del IDAC</p>
        </div>
    </div>
</div>

<!-- Content Row -->
<div class="panel">
    <div class="panel-body">
        <!-- Contact Details Column -->
        <div class="col-md-4">
            <h3>@ViewBag.Title</h3>
            @*<p>
                3481 Melrose Place<br>Beverly Hills, CA 90210<br>
            </p>*@
            <p>
                <i class="fa fa-phone"></i>
                <abbr title="Phone">T</abbr>: (829) 913-3889
            </p>
            <p>
                <i class="fa fa-envelope-o"></i>
                <abbr title="Email">E</abbr>: <a href="mailto:hola@residenciasmedicasrd.com">hola@residenciasmedicasrd.com</a>
            </p>
            <p>
                <i class="fa fa-clock-o"></i>
                <abbr title="Hours">H</abbr>: Lunes - Viernes: 9:00 AM to 5:00 PM
            </p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li>
                    <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <!-- Contact Form -->
        @*<div class="col-md-8">
            <h3>Envíanos un Mensaje</h3>
            <form name="sentMessage" id="contactForm" novalidate>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Nombre</label>
                        <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Teléfono</label>
                        <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Correo Electrónico</label>
                        <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Mensaje</label>
                        <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                    </div>
                </div>
                <div id="success"></div>
                
                <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
            </form>
        </div>*@
    </div>
</div>
<!-- /.row -->
@*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@